@use "../../css/styles.scss";

.main-card {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.318) 0px 22px 70px 4px;
}

.card-image {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;

    &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.card-body {
    background-color: #C21A26;
}

.card-title {
    padding-bottom: 0.5rem;
}

.card-ingredients {
    font-size: 80%;
}

.card-price {
    background-color: #C21A26;
    color: floralwhite;
    font-size: large;
    padding: 0 0 0.5rem 1.5rem;
}

.card-detail {
    width: 90vw;
    margin: 1rem 0 1rem 0;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card-text {
    align-items: start;
    border: none;
}