@use "../../css/styles.scss";

.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
    transition: ease-in-out .3s all;
    transition-delay: .5s;
}

.navbar-button-group {
    width: 100vw;
    overflow: hidden;
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(8, 8, 8);

    .navbar-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        padding: 0 15px;
        font-size: 1.5em;
        color: rgb(235, 235, 235);
        border-radius: 5px;
        cursor: pointer;
        background-color: styles.$primary-color;
        text-decoration: none;
        transition: all ease-in-out .4s;

        &:hover {
            transform: scale(1);
            color: black;
            background-color: styles.$purple-light;
            border: .2em solid styles.$purple-light;
            box-shadow: 0px 5px 18px #ededed4f;
        }
    }
}

@media (width <=768px) {
    .navbar-button-group {
        overflow-x: scroll;

        .navbar-button {
            height: 30px;
            padding: 0 10px;
            font-size: 0.8em;
        }
    }

}