@use "../../css/styles.scss";

.contact-main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 100vh;

  @media (min-width: 768px) {
    margin-top: .2rem;
    flex-direction: row;
  }

  @media (min-width: 1024px) {
    height: 30rem;
  }

  @media (min-width: 1440px) {
    height: 100rem;
  }
}


.main-contact {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;

  & .contact-img {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/login-huellitas.appspot.com/o/contact_image.png?alt=media&token=756eceea-096d-425e-af87-85a154f8d93a);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
  }

  & .contact-container {
    position: absolute;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 0;
  }

}

.contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: end;

  font-size: 90%;
  color: #000000;

}


.map-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100%;
  height: 100%;
}

.map-wrap {
  position: relative;
  float: right;
  width: 100%;
  height: 100%;
  margin: 0;
}

.leaflet-container {
  position: relative !important;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: forwards;
}

.info-map {
  position: absolute;
  left: 7%;
  top: 97%;
  z-index: 100;
  padding-top: 0.5rem;
  height: 13%;
  width: 38%;
  background: #000000c0;
  border-radius: 0.7rem;
  box-shadow: 3px 5px 8px #1414149d;
  color: #fff;
  font-size: 77%;
  font-weight: 300;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards;


  & span {
    font-size: 60%;
    color: #ffd900;
  }



}


@media only screen and (min-width: 768px) {
  .info-map {
    left: 60%;
    top: 90%;
    height: 10%;
    width: 28%;
    font-size: 100%;

  }

}
@media only screen and (min-width: 992px) {
  .info-map {
    left: 65%;
    top: 70%;
    height: 15%;
    width: 22%;
    font-size: 100%;

  }

}
@media only screen and (min-width: 1200px) {
  .info-map {
    left: 65%;
    top: 70%;
    height: 15%;
    width: 20%;
    font-size: 100%;

  }

}