@use "../../css/styles.scss";

.navbar-main {
    position: relative;
    padding: 5px 30px;
    background-color: styles.$primary-color;

    & .navbar-brand {
        width: 10%;
        height: 100%;

        & img {
            width: 100%;
        }
    }

    & .header-favorite-button {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        margin-left: 20rem;
        width: 10%;
    }
}


.offcanvas-action1,
.offcanvas-action2,
.offcanvas-action3 {
    color: rgb(202, 202, 2);
    font-weight: bolder;
    text-decoration: none;
    padding: 0.5rem 0 0.5rem 0;
    margin-left: 7%;
}

@media (width <=768px) {
    .navbar-main {

        & .navbar-brand {
            width: 20%;
            height: 100%;
        }

        & .header-favorite-button {
            margin-left: 0;
            width: 30%;
        }
    }



}

.btn-close {
    background-color: whitesmoke;
    opacity: .9;
    position: absolute;
    top: 5%;
    right: 10%;
    z-index: 1;
    /* transform: rotate(-45deg);*/
    transition: all ease-in-out 0s;
    cursor: pointer;
    box-shadow: inset #fff 0 0 0 1px,
        #fff 0 0 0 1px, #fff 0 0 0 1px;
}