@use "../css/styles.scss";

.navbar-main {
    background: styles.$gradient-background;
    padding: 0;

    .header-main-container {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem 0 2rem;
        height: 100%;

    }

    .main-logo {
       width: 40%;
    }
}

.header-favorite-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-right:.6em!important;
    font-size: inherit;
    width: 8rem;
    height: 2.2rem;


}

.btn-wsp {
    position: fixed !important;
    cursor: pointer;
    top: 85%;
    left: 78%;
    z-index: 100;
    height: 100%;
    filter: drop-shadow(0 0 4px white);


    & .wsp-image {
        width: 5rem;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 1s ease-in-out;
        transition: 1s ease-in-out;

        &:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }

    @media (min-width: 768px) {
        left: 89%;

        & .wsp-image {
            width: 5rem;
        }
    }

    @media (min-width: 1024px) {
        left: 90%;

        & .wsp-image {
            width: 6.2rem;
        }
    }
}