@use "../css/styles.scss";

.sticky {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
    position: sticky;
    top: 0;
    z-index: 100;
    transition: ease-in-out 1.2s all;
    transition-delay: 1.2s;
}

.navbar-main {
    background: styles.$gradient-background;
    height: 12vh;

    .header-main-container {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem 0 2rem;
        height: 100%;

    }

    .main-logo {
        width: 28vw;
        height: auto;
    }




}

.btn-wsp {
    position: fixed !important;
    cursor: pointer;
    top: 85%;
    left: 78%;
    z-index: 100;
    height: 100%;
    filter: drop-shadow(0 0 4px white);


    & .wsp-image {
        width: 5rem;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 1s ease-in-out;
        transition: 1s ease-in-out;

        &:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }

    @media (min-width: 768px) {
        left: 89%;

        & .wsp-image {
            width: 5rem;
        }
    }

    @media (min-width: 1024px) {
        left: 90%;

        & .wsp-image {
            width: 6.2rem;
        }
    }
}