@use "../css/styles.scss";

.navbar-main {
    background: styles.$gradient-background;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;

}

.navbar-brand {
    height: 80%;
    width: 25%;
   
}

.main-logo {
    width: 100%;
}

.header-favorite-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0.5rem;
    margin-right: 3em !important;
    font-size: inherit;
    height: 100%;
}

.btn-wsp {
    position: fixed !important;
    cursor: pointer;
    top: 80%;
    left: 78%;
    z-index: 100;
    height: 100%;
    filter: drop-shadow(0 0 4px white);


    & .wsp-image {
        width: 5rem;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 1s ease-in-out;
        transition: 1s ease-in-out;

        &:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }

    @media (min-width: 768px) {
        left: 89%;

        & .wsp-image {
            width: 5rem;
        }
    }

    @media (min-width: 1024px) {
        left: 90%;

        & .wsp-image {
            width: 6.2rem;
        }
    }
}

.offcanvas-action1 {
    border-top: solid 1px rgba(45, 45, 45, 0.286);
    font-weight: bolder;
    text-decoration: none;
    color: rgba(39, 39, 39, 0.822);
    padding: 0.5rem 0 0.5rem 0;
}

.offcanvas-action2 {
    font-weight: bolder;
    text-decoration: none;
    color: rgba(39, 39, 39, 0.822);
    padding: 0.5rem 0 0.5rem 0;
}

.offcanvas-action3 {
    font-weight: bolder;
    border-bottom: solid 1px rgba(45, 45, 45, 0.286);
    text-decoration: none;
    color: rgba(39, 39, 39, 0.822);
    padding: 0.5rem 0 0.5rem 0;

}

@media (min-width: 576px) {

    .header-favorite-button {
        width: 11%;
        height: 2rem;
        margin-left: 5rem;
    }

    .offcanvas-action1,
    .offcanvas-action2,
    .offcanvas-action3 {
        display: inline-block !important;
        margin-right: .7em;
        border-bottom: solid 2px rgba(202, 202, 2, 0.37);
        color: rgb(202, 202, 2);
        font-size: 80%;
    }


}
@media (min-width: 768px) {

    .offcanvas-action1,
    .offcanvas-action2,
    .offcanvas-action3 {
        display: inline-block !important;
        margin-right: .7em;
        border-bottom: solid 2px rgba(202, 202, 2, 0.37);
        color: rgb(202, 202, 2);
        font-size: 100%;
    }


}