@use "../css/styles.scss";
@use "../../src/components/footer/footer.scss";
@use "../../src/components/header/header.scss";
@use "../../src//components/hero/hero.scss";
@use "../../src/components/products/navbarproducts.scss";
@use "../../src/utils/notfound.scss";
@use "../../src/components/contact/contact.scss";
@use "../../src/components/about/about.scss";
@use "../../src/components//products/maincardstyles.scss";

.App {
  font-family: styles.$primary-font;
  background-color: styles.$background-color;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  width: min(1000px, 100%);
}




.main-section {
  background-color: styles.$background-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem 0 2.5rem 0;
  width: 100%;
}