@use "../css/styles.scss";
@use "../../src/components/footer/footer.scss";
@use "../../src/components/header/header.scss";
@use "../../src//components/hero/hero.scss";
@use "../../src/components/products/navbarproducts.scss";
@use "../../src/utils/notfound.scss";
@use "../../src/components/contact/contact.scss";
@use "../../src/components/about/about.scss";

.App {
  font-family: styles.$primary-font;
  background-color: styles.$background-color;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121013;
}




.main-section {
  background-color: styles.$background-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 0 1rem 0;
  width: 100%;
}

.main-card {
  border: none;
}

.card-image {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;

  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.card-body {
  background-color: #C21A26;
}

.card-title {
  padding-bottom: 0.5rem;
}
.card-ingredients{
  font-size: 80%;
}
.card-price{
  background-color: #C21A26;
  color: floralwhite;
  font-size: medium;
  padding: 0 0 0.5rem 1.5rem;
}

.card-detail {
  width: 90vw;
  margin: 1rem 0 1rem 0;
}

.card-text {
  align-items: start;
}

.cart-container {
  width: 100%;
  margin: 2em;
}
