@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");



$primary-font: "Raleway", sans-serif;

$background-color: #ffffff;
$gradient-background: linear-gradient(120deg, #000000 30%, #856d04 100%);


$primary-color: #2A2F4F;
$secondary-color: #917FB3; 
$purple-light: #ece1ffcf 
