:root {
  font-family: "Roboto", serif;
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
  background-color: #000000e3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.App {
  background-color: #000000e3;
}
.main-logo {
  width: 30vw;
}

.navbar-main {
  background-color: #000;
}

.main-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6em 0 0 0;
}

.hero-container {
  position: relative;
  height: 30vh;
}

.hero-img {
  opacity: 0.3;
  width: 100vw;
  height: 30vh;
}
.hero-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 24%;
  color: rgb(255, 255, 255);
}
.main-card-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.card-image {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;

  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.card-title {
  border-bottom: #2222227a solid 1px;
  padding-bottom: 14px;
}

.card-detail {
  width: 80vw;
  left: 10%;
  top: 9rem;
}
.card-text{
  align-items: start;
}

.cart-container {
  margin-top: 7em;
}
